.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 99;
    flex: 0 0 auto;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: -4px;
    margin: 60px 0;
}

.item {
    color: white;
    width: 30%;
    height: 128px;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    -webkit-box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.2);
}

.item:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.icon {
    padding: 20px;
}