.typeCatalog {
    margin: 0 auto;
    width: 80%;
    min-height: 800px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}