.brandContainer {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.brandTitle {
    display: flex;
    justify-content: center;
    color: rgb(57, 56, 56);
}

.brandSubtitle {
    display: flex;
    justify-content: center;
    color: rgb(57, 56, 56);
}

.text {
    text-align: justify;
    text-indent: 15%;
}

.img {
    width: 100%;

    height: 30em;
}

.brandContent {

    width: 70%;
    padding: 40px;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 8px 11px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 11px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 11px rgba(34, 60, 80, 0.2);
}