header {
    background-color: var(--header-color);
    padding: 20px 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 96%;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}

.headerContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    background-size: contain;
    width: 7em;
    background-repeat: no-repeat;
}

.headerLogo {
    background-size: cover;
}

.logo:hover {
    opacity: 0.7;
}

.logo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: gold;
    font-size: 30px;
    padding: 0 20px;
    font-weight: 800;
}

nav {
    padding-top: 5px;
    margin: 0 0 0 -60px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.navItem {
    color: var(--price-color);
    font-size: 1.6em;
    font-weight: 800;
    font-family: "Cormorant Garamond", serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navItem:hover {
    opacity: 0.7;
}

li {
    list-style: none;
    cursor: pointer;
}

.number {
    display: flex;
}

.number-icon {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 1180px) {
    .headerContent {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    .logo {
        margin-top: 5px;
        width: 160px;
        height: 50px;
    }

    nav {
        width: 68%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 891px) {
    nav {
        width: 63%;
    }

    .navItem {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        width: 60%;
        margin: 0;
    }

    .header-wrapper {
        width: 95%;
    }

    .navItem {
        font-size: 12px;
    }

    .number {
        font-size: 12px;
    }

    .logo {
        margin-top: 5px;
        width: 120px;
        height: 50px;
    }
}

@media only screen and (max-width: 668px) {
    nav {
        width: 78%;
    }

    .headerWrapper {
        width: 98%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 5px 0px;
    }

    nav {
        margin: 0;
    }

    .navItem {
        padding: 20px 0;
        font-size: 20px;
        margin-left: -30px;
    }

    .navItem:nth-child(1) {
        margin-top: 50px;
        display: block;
    }

    .menuBtn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 4;
        margin-top: 15px;
        overflow: hidden;
    }

    .menuBtn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }

    .menuBtn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menuBtn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menuBtn.active span:nth-of-type(1) {
        display: none;
    }

    .menuBtn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menuBtn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .headerNav {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: var(--header-color);
        transform: translateX(-100%);
        transition: transform 0.5s;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .headerNav.active {
        transform: translateX(0);
    }

    .headerNav a {
        list-style-type: none;
    }
}